<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<br>
<br>
<br>
<body>
<div>

    <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
        <h1>[[#{login.form}]]</h1>
        <p>
             [[#{e-mail}]] <input type="email" name="email" required />
        </p>
        <p>
            [[#{password}]] <input type="password" name="password" required />
        </p>
        <p>
            <button type="submit">[[#{login}]]</button>
        </p>
    </form>
</div>
</body>
</html>
