<!DOCTYPE html>
<html lang="en" xmlns:th="http.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new trainer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/logout}" method="post">[[#{forGym}]]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="color: white" class="nav-item active">
            <h5>[[#{hello}]] <span th:text="${#httpServletRequest.remoteUser}"></span></h5>
        </div>
        <div class="text-center" id="navbarNav">
            <form th:action="@{/logout}"method="post">
                <button type="submit">[[#{logout}]]</button>
            </form>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<body>
<div class="container text-center">
    <div th:if="${trainer.id==null}"><h1>[[#{add.new.trainer}]]</h1></div>
    <div th:unless="${trainer.id==null}"><h1>[[#{edite}]]</h1></div>
    <form th:action="@{/trainers/save}" th:object="${trainer}" method="post"
          style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${trainer.id}"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">[[#{first.name}]]</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4"> [[#{last.name}]]</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">[[#{age}]]</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{age}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4"> [[#{sex}]] [[#{p}]]</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{sex}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4"> [[#{phone}]] (29)1111111:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" required/>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary"> [[#{save}]]</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>