<!DOCTYPE html>
<html lang="en" xmlns:th="http.thymeleaf.org"
      xmlns:sec="http.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All trainers</title>
    <link rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">[[#{forGym}]]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="color: white" class="nav-item active">
            <h5>[[#{hello}]] <span th:text="${#httpServletRequest.remoteUser}"></span></h5>
        </div>
        <li>
            <a class="nav-item" th:href="@{?lang=en}">
                <img th:src="@{images/en.png}" width="30"/>England</a>
            <a class="nav-item" th:href="@{?lang=ru}">
                <img th:src="@{images/ru.png}" width="30"/>Русский</a>
        </li>
        <div class="text-center" id="navbarNav">
            <form th:action="@{/logout}" method="post">
                <button type="submit">[[#{logout}]]</button>
            </form>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<body>
<div class="container text-center">
    <div><h1>[[#{all.trainers}]]</h1></div>
    <div sec:authorize="hasAuthority('ADMIN')">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>[[#{id}]]</th>
                <th>[[#{first.name}]]</th>
                <th>[[#{last.name}]]</th>
                <th>[[#{age}]]</th>
                <th>[[#{sex}]]</th>
                <th>[[#{phone}]]</th>
                <th>[[#{clients}]]</th>
                <th><div class="p-2">
                    <a class="h5" th:href="@{trainers/new}">[[#{add.new.trainer}]]</a>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="trainer:${trainerList}">
                <tr>
                    <td>[[${trainer.id}]]</td>
                    <td>[[${trainer.firstName}]]</td>
                    <td>[[${trainer.lastName}]]</td>
                    <td>[[${trainer.age}]]</td>
                    <td>[[${trainer.sex}]]</td>
                    <td>[[${trainer.phoneNumber}]]</td>
                    <td>[[${trainer.clients}]]</td>
                    <td><a th:href="@{'trainers/edit/' + ${trainer.id}}">[[#{edite}]]</a>
                    &nbsp;&nbsp;
                    <a th:href="@{'trainers/delete/' + ${trainer.id}}">[[#{delete}]]</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>